redirectsOrigin = "config"
plugins = []
functionsDirectory = "/Users/chukwukagreatugbome/SkyWings/netlify/functions"
functionsDirectoryOrigin = "config-v1"
headers = []

[functions]

[functions."*"]

[build]
publish = "/Users/chukwukagreatugbome/SkyWings/public"
publishOrigin = "config"
functions = "/Users/chukwukagreatugbome/SkyWings/netlify/functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]