[build]
  base = "."
  command = "npm install"
  publish = "public"
  functions = "netlify/functions"

# Ensure functions are not redirected to index.html
[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200